@model IEnumerable<ToDoFrontend.Models.TodoItem>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-controller="Home" asp-action="CreateTodoItem">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDone)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTodoItem", item) |
                @Html.ActionLink("Delete", "DeleteTodoItem",  new { id=item.Id } )
            </td>
        </tr>
}
    </tbody>
</table>
